img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 115px;
    margin-top: -58px;
    margin-left: -160px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
