<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="oslab laboratoire open source">
    <style type="text/css">
        body{background-color: #24272a}img{position:absolute;top:50%;left:50%;width:150px;height:202px;margin-top:-101px;margin-left:-75px}
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
{{content}}
</body>
</html>
